streamlit
google-generativeai
youtube-transcript-api==1.2.4
langchain
langchain-google-genai
langchain-chroma
langchain-community
langchain-experimental
langchain-openai
langchain-groq
langchain-text-splitters
python-dotenv
google-genai
gtts
sentence-transformers
torch
torchvision
langchainhub
pypdf
rapidocr-onnxruntime
requests
chromadb
fpdf2
faster-whisper
yt-dlp